.cpu-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hack-cpu-controls {
    display: flex;
    flex-direction: row;
}

.cpu-contents div {
    width: 100%;
    padding: 1rem;
}

.code-text {
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
}

textarea.txt-code {
    height: 65rem;
    width: 100%;
    padding: 0.5rem;
}

table.cpu-table {
    width: 100%;
    margin-bottom: 2rem;
}

table.cpu-table td, th {
    border: solid thin black;
    padding: 0.5rem;
}

.title-button {
    float: right;
}