.sudoku-table td {
    border: solid thin black;
    border-collapse: collapse;
}

.sudoku-table td:nth-child(3n) {
    border-right: solid thick black;
}
.sudoku-table td:nth-child(3n-2) {
    border-left: solid thick black;
}

.sudoku-table tr:nth-child(3n+1) {
    border-top: solid thick black;
}
.sudoku-table tr:nth-child(9) {
    border-bottom: solid thick black;
}
.sudoku-cell {
    width: 4rem;
    height: 4rem;
    font-size: xx-large;
    text-align: center;
}
.sudoku-cell-error {
    color: red;
}