.bitmap-table,
.bitmap-table td {
  border: solid thin black;
  border-collapse: collapse;
}

.bitmap-table td,
.pallette-square {
  width: 30px;
  height: 30px;
}

.colour-palette {
  display: flex;
  flex-direction: row;
}

.pallette-square__current-selection {
  border: solid thick black;
}

.image-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.binary-data {
  font-family: "Courier New", Courier, monospace;
  border-style: inset;
  width: 50%;
  height: 400px;
  overflow: scroll;
}
